<div class="index-header">
  <h1>Books</h1>
</div>

<div class="index-table">
  <table>
    <tr align="center">
      <th>Title</th>
      <th>Body</th>
    </tr>
    <tr>
      <th>NewbookのTitle</th>
      <th>NewbookのBody</th>
      <th><a class="index-item" href="URL">show</a></th>
      <th><a class="index-item" href="URL">Edit</a></th>
      <th><a class="index-item" href="URL">Destroy</a></th>
    </tr>
  </table>
</div>

<div class="index-new">

</div>