<body>
  <header>
    <h2 class="top-header">ようこそ Bookers へ！</h2>
  </header>
  <main>
    <div class="top-main">
      <p class="top-list">
        <span class="top-item">Bookers</span> では、さまざまな書籍に関するあなたの意見や
      </p>
      <p class="top-list">印象を共有し交換することができます</p>
      <a class="top-start" href="URL">start</a>
    </div>
  </main>
</body>