/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-header {
  margin: 20px 0 0 30px;
}
.top-main {
  margin-top: 15px;
  margin-left: 60px;
}

.top-main > p {
  margin-bottom: 30px;
}

.top-list {
  font-size: 13px;
}

.top-item {
  font-weight: bold;
}

.top-start {
  font-size: 14px;
  color: #555555;
}

.top-start:hover {
  color: white;
  background-color: black;
}

.index-header {
  margin-top: 25px;
  margin-left: 40px;
  font-size: 13px;
  font-weight: bold;
}

.index-table {
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.index-main {
  font-size: 14px;
}

.index-date {
  margin: 35px;
  padding: 5px 5px 1px 5px;
  font-size: 14px;
}

.index-item {
  color: black;
}

.index-item:hover {
  color: white;
  background-color: black;
}

.index-new {
  margin-left: 40px;
  margin-bottom: 20px;
}

.index-new > div {
  margin-bottom: 10px;
}

.new-header {
  font-size: 14px;
}

.new-title {
  width: 170px;
  font-size: 13px;
  margin-bottom: 5px;
}

.new-body {
  width: 166px;
  font-size: 13px;
  margin-bottom: 5px;
}

.new-create {
  padding: 1px 6px;
}

.show-flash {
  color: green;
  margin-top: 30px;
  margin-left: 65px;
  font-size: 13px
}

.show-main {
  margin-top: 33px;
  margin-left: 65px;
}

.show-main > p {
  font-size: 14px;
  margin-bottom: 27px;
}

.show-title {
  font-weight: bold;
}

.show-body {
  font-weight: bold;
}

.show-link {
  font-size: 14px;
  margin-top: 20px;
  margin-left: 30px;
}

.show-link > p {
  display:inline-block;
  margin-top: 5px;
}

.show-edit {
  color: black;
  font-size: 13px;
}

.show-edit:hover {
  color: white;
  background-color: black;
}

.show-back {
  color: gray;
  font-size: 13px;
}

.show-back:hover {
  color: white;
  background-color: black;
}

.show-border {
  font-size: 13px;
}

.edit {
  margin-top: 25px;
  margin-left: 35px;
}

.edit-header {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
}

.edit-title {
  width: 170px;
  font-size: 13px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.edit-body {
  width: 166px;
  font-size: 13px;
  margin-bottom: 8px;
}

.edit-link {
  font-size: 14px;
}

.edit-link > p {
  display:inline-block;
  margin-top: 5px;
}

.edit-show {
  color: black;
  }

.edit-show:hover {
  color: white;
  background-color: black;
}

.edit-back {
  color: gray;
}

.edit-back:hover {
  color: white;
  background-color: black;
}

.edit-update {
  padding: 1px 6px;
}

.error {
  width: 450px;
  border: solid 3px #FF0000;
  background-color: #EEEEEE;
}

.error-header {
  font-size: 14px;
  color: white;
  background-color: #CC0000;
  padding-left: 5px;
}

.error-message {
  margin: 33px;
  font-size: 11px;
  list-style-type: square;
  list-style-position: inside;
}

